<ion-view view-title="Account">
<ion-header-bar align-title="left" class="bar-header bar-black">
       <h1 class="title">我的</h1>
  </ion-header-bar>
<ion-content class="bacc">
  <!-- <div class="bar bar-header bar-dark bar-common">
    <span class="index-title">asd</span>
  </div> -->
<div class="content">
	<div class="block mt20 top-line bottom-line">
		<!-- <div class="icon-div">
			<i class="ion-earth blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">朋友圈</span> -->
		<div class="head-icon">
			
		</div>
		<div class="person-message">
			<div class="screen-name">
				zjzno1
			</div>
			<div class="user-name">
				微信号: 
				<span class="per-user-name">
					asdfasdf
				</span>
			</div>
		</div>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="block mt20 top-line">
		<div class="icon-div">
			<i class="ion-image blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">相册</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="cut-off-div">
		<hr class="cut-off">	
	</div>
	<div class="block">
		<div class="icon-div">
			<i class="ion-cube blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">收藏</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="cut-off-div">
		<hr class="cut-off">	
	</div>
	<div class="block">
		<div class="icon-div">
			<i class="ion-social-usd blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">钱包</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="cut-off-div">
		<hr class="cut-off">	
	</div>
	<div class="block bottom-line ">
		<div class="icon-div">
			<i class="ion-card blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">卡包</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="block mt20 top-line bottom-line">
		<div class="icon-div">
			<i class="ion-android-happy blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">表情</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="block mt20 top-line bottom-line">
		<div class="icon-div">
			<i class="ion-ios-gear blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">设置</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
</div>
</ion-content>
</ion-view>