<ion-view view-title="Account">
<ion-header-bar align-title="left" class="bar-header bar-black">
       <h1 class="title">朋友圈</h1>
  </ion-header-bar>
<ion-content class="bacc">
  <!-- <div class="bar bar-header bar-dark bar-common">
    <span class="index-title">asd</span>
  </div> -->
<div class="content">
	<div class="block mt20 top-line bottom-line" id="cs" ng-click="goToFriends()">
		<div class="icon-div">
			<i class="ion-earth blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">朋友圈</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="block mt20 top-line">
		<div class="icon-div">
			<i class="ion-navicon-round blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">扫一扫</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="cut-off-div">
		<hr class="cut-off">	
	</div>
	<div class="block bottom-line ">
		<div class="icon-div">
			<i class="ion-aperture blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">摇一摇</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="block mt20 top-line bottom-line ">
		<div class="icon-div">
			<i class="ion-cloud blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">漂流瓶</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="block mt20 top-line">
		<div class="icon-div">
			<i class="ion-beer blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">购物</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
	<div class="cut-off-div">
		<hr class="cut-off">	
	</div>
	<div class="block bottom-line ">
		<div class="icon-div">
			<i class="ion-person-stalker blue" data-pack="default" data-tags="nature, globe, home, planet"></i>
		</div>
		<span class="block-title">游戏</span>
		<i class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></i>
	</div>
</div>
</ion-content>
</ion-view>
