<ion-view>
<div class="bar bar-positive bar-common">
	<span class="ion-ios-paper-outline pic-fize" data-pack="ios" data-tags="feed, paper"></span>
	<p class="bill">账单</p>
	<input type="text" class="search" placeholder="搜索">
	<!-- <h2 class="a">sdfafsadfsad</h2> -->
	<span class="ion-person pic-fize pic-right" data-pack="default" data-tags="users, staff, head, human"></span>
	<span class="ion-plus-round pic-fize pic-right" data-pack="default" data-tags="add, include, new, invite, +"></span>
</div>
  <ion-content>
	  <div class="block first-block">
	  	<div class="div-img">
	  		<img src="img/adam.jpg" alt="" class="head-pic">
	  	</div>
	  	<div class="person-detail">
	  		<div class="person-name">
	  			asdf
	  		</div>
	  		<p class="person-page">查看个人主页</p>
	  	</div>
	  	<span class="ion-chevron-right arrow-right" data-pack="default" data-tags="arrow, right"></span>
	  	<hr class="row">
	  </div>
	  <div class="block">
	  	<div class="vip">
	  		<span class="ion-happy-outline blue" data-pack="default" data-tags="good, like, fun, yes"></span>
	  		会员中心
	  	</div>
	  	<hr class="column">
	  	<div class="collection">
	  		<span class="ion-cube blue" data-pack="default" data-tags="box, square, container"></span>
	  		收藏
	  	</div>
	  	<hr class="column">
	  	<div class="settings">
	  		<i class=" blue icon ion-ios-gear blue"></i>
	  		设置
	  	</div>
	  	<!-- <hr class="row"> -->
	  </div>
	  <div class="lover-level"></div>
	  <div class="block money-block">
	  	<div class="money">
	  		100.00
	  		<!-- <i class="ion-ios-glasses" data-pack="ios" data-tags="steve, reading, look, see"></i> -->
	  	<i class="ion-ios-glasses-outline" data-pack="ios" data-tags="steve, reading, look, see"></i>
	  	</div>
	  	<div class="money-detail">
	  		账户安全保障中
	  		<span class="ion-chevron-right money-detail-right" data-pack="default" data-tags="arrow, right"></span>
	  	</div>
	  </div>
	  <hr class="row">
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-social-yen little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				余额
		  			</div>
		  			<div class="little-block-content-message">
		  				0.00
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-card little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				我的银行卡
		  			</div>
		  			<div class="little-block-content-message">
		  				0
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <hr class="row">
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-social-yen little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				余额宝
		  			</div>
		  			<div class="little-block-content-message">
		  				0.00
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-social-usd-outline little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				基金
		  			</div>
		  			<div class="little-block-content-message">
		  				0.00
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <div class="lover-level"></div>
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-social-snapchat-outline little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				芝麻信用
		  			</div>
		  			<div class="little-block-content-message">
		  				因为信用，所以简单
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-social-octocat little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				蚂蚁花呗
		  			</div>
		  			<div class="little-block-content-message">
		  				0
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <hr class="row">
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-social-dribbble little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				蚂蚁借呗
		  			</div>
		  			<div class="little-block-content-message">
		  				0
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-android-unlock little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				网商银行
		  			</div>
		  			<div class="little-block-content-message">
		  				0.00
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <div class="lover-level"></div>
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-android-clipboard little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				保险服务
		  			</div>
		  			<div class="little-block-content-message">
		  				3亿人得选择
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-social-bitcoin-outline little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				定期理财
		  			</div>
		  			<div class="little-block-content-message">
		  				****
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-android-people little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				淘宝众筹
		  			</div>
		  			<div class="little-block-content-message">
		  				认真对待每一个梦想
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-android-send little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				股票
		  			</div>
		  			<div class="little-block-content-message">
		  				行情，随手查
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <hr class="row">
	  <div class="block">
		  	<div class="little-block">
		  		<i class=" blue ion-android-color-palette little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				娱乐宝
		  			</div>
		  			<div class="little-block-content-message">
		  				人人动能完的棒
		  			</div>
		  		</div>
		  		<hr class="column little-block-column">
		  	</div>
		  	<div class="little-block">
		  		<i class=" blue ion-android-favorite-outline little-block-icon" data-pack="social" data-tags="currency, trade, money, japanese"></i>
		  		<div class="little-block-content">
		  			<div class="little-block-content-title">
		  				爱心捐赠
		  			</div>
		  			<div class="little-block-content-message">
		  				爱在行动
		  			</div>
		  		</div>
		  	</div>
	  </div>

	  <hr class="row">
  </ion-content>
</ion-view>
